<div id="bin" class="site">

	<!-- ABOUT -->

	<div id="about">
		<div class="page">

			<!-- TAGLINE -->

			<div id="tagline">
	    		<h1>One more thing...</h1>
	    		<p>Please validate your .edu email address and mobile phone number.</p>
	    	</div>

		</div>
	</div>

	<!-- CONTENT -->

	<div id="content">
		<div class="page">
			
			<%= form_for @current_user, :remote => true do |f| %>
			
				<div class="inline-input-box">
					<%= f.text_field :email %>
					<!--<div id='email-label' class='inline-input-label'>
						<%= f.label :email, "\u25C9 why we need this" %>
					</div>-->
				</div>
				
				<div class="inline-input-box">
					<%= f.text_field :sms %>
					<!--<div id='sms-label' class='inline-input-label'>
						<%= f.label :email, 'why we need this' %>
					</div>-->
				</div>
				
				<%= f.submit "Sign up" %>
			
			<% end %>

		</div>
	</div>

</div>
