<div class="overlay"><div id="book-form" class="lightbox">
	
	<h2>Add a Book to <%= listing.type_name %></h2>
	
	<%= form_for listing, url: listings_path, remote: true do |f| %>
	
		<div class="isbn-field">
			<%= label_tag :isbn, "ISBN" %>
			<%= text_field_tag :isbn %>
		</div>
	
		<div class="price-field">
			<%= f.label :price %>
			<%= f.number_field :price %>
		</div>
	
		<div class="conditions-field">
			<%= f.select :condition, options_for_select(Listing.conditions) %>
		</div>
	
		<%= f.hidden_field :user_id, value: @current_user.id %>
		<%= f.submit 'Submit' %>
	
	<% end %>
	<div class="clear"></div>
</div></div>