<div id="new-book" class="overlay"><div id="book-form" class="lightbox">
	
	<h2>Add a Book to <span id="listing_title_kind">Buy</span></h2>
	
	<!--<% conditions = ['new', 'good', 'poor'] %>-->
	<% conditions = ['0', '1', '2'] %>
	<%= form_for @new_listing, remote: true do |f| %>
	
		<div class="isbn-field">
			<%= label_tag :isbn, "ISBN" %>
			<%= text_field_tag :isbn %>
		</div>
	
		<div class="price-field">
			<%= f.label :price %>
			<%= f.number_field :price %>
		</div>
	
		<div class="conditions-field">
			<!--<%= f.select(:condition, conditions) %>-->
			<select id="listing_condition" name="listing[condition]">
				<option value="0">New</option>
				<option value="1">Good</option>
				<option value="2">Fair</option>
			</select>
		</div>
	
		<%= f.hidden_field :user_id, value: @current_user.id %>
		<%= f.hidden_field :kind %>
		<%= f.submit 'Submit' %>
	
	<% end %>
	<div class="clear"></div>
</div></div>