<div id="bin" class="listings">

	<!-- HEADER -->

	<div class="header">
		<div id="about">
			<div class="page">
		
				<!-- TAGLINE -->
		
				<div id="left-content">
					<h1>List your books</h1>
		    	</div>

				<!-- BUTTON -->

		    	<div id="right-content">
					<div class="button">
						<div class="top">Find your matches<%= image_tag 'arrow.png' %></div>
					</div>
				</div>
		
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<!-- LISTS -->

	<div id="lists-container" class="main-content">
		<div id="lists">
			<div class="page">
	
				<% @listings.each do |kind_name, kind| %>
	
				<div id="<%= kind_name %>Listing" class="section">
					<div>
						<div class="add">+</div>
						<%= render "form", listing: kind[:new_listing] %>
					</div>
			
					<h1><%= kind_name %>ing (<%= kind[:list].count %>)</h1>
					<div class="list" id="listBuy">
						<% for @listing in kind[:list] do %>
						<%= render "listing" %>
						<% end %>
					</div>
				</div>
		
				<% end %>
	
			</div>
		</div>
	</div>

</div>
