<div class="header">
	<div id="about">
		<div class="page">
		
			<!-- TAGLINE -->
		
			<div class="left-content">
				<h1>List your books</h1>
	    	</div>

			<!-- BUTTON -->

	    	<div class="right-content">
				<div class="button">
					<div class="top">Find your matches<%= image_tag 'arrow.png' %></div>
				</div>
			</div>
		
			<div class="clear"></div>
		</div>
	</div>
</div>

<div id="lists" class="main-content">
	<div class="page">
	
		<div id="buying" class="section fl">
			<div class="add" name="Buy">+</div>
			<h1>Buying</h1>
			<div class="list" id="listBuy">
				<% for l in @buying do %>
				<div class="entry">
					<%= image_tag l.book.thumbnail %>
					<h2><%= l.book.title %></h2>
					<div class="price">Up to $<%= l.price %>.00,</div>
					<div class="condition">in <%= l.condition_name %> condition</div>
				</div>
				<% end %>
			</div>
		</div>
	
		<div id="selling" class="section fr">
			<div class="add" name="Sell">+</div>
			<h1>Selling</h1>
			<div class="list" id="listSell">
				<% for l in @selling do %>
				<div class="entry">
					<%= image_tag l.book.thumbnail %>
					<h2><%= l.book.title %></h2>
					<div class="price">For $<%= l.price %>.00,</div>
					<div class="condition">in <%= l.condition_name %> condition</div>
				</div>
				<% end %>
			</div>
		</div>
	
		<div class="clear"></div>
	</div>
</div>

<div id="new-book" class="overlay"><div id="book-form" class="lightbox">
	<h2>Add a Book to <span id="listing_title_kind">Buy</span></h2>
	<!--<% conditions = ['new', 'good', 'poor'] %>-->
	<% conditions = ['0', '1', '2'] %>
	<%= form_for Listing.new, :remote => true do |f| %>
        <div class="isbn-field">
		<%= f.fields_for Book.new do |builder| %>
			<%= builder.label :isbn, "ISBN" %>
			<%= builder.text_field :isbn %>
		<% end %>
        </div>
        <div class="price-field">
		<%= f.label :price %>
		<%= f.number_field :price %>
        </div>
        <div class="conditions-field">
		<!--<%= f.select(:condition, conditions) %>-->
        <select id="listing_condition" name="listing[condition]">
            <option value="0">New</option>
            <option value="1">Good</option>
            <option value="2">Fair</option>
        </select>
        </div>
		<%= f.hidden_field :kind %>
		<%= f.submit 'Submit' %>
	<% end %>
    <div class="clear"></div>
</div></div>

