<div class="header">
	<div id="about">
		<div class="page">
		
			<!-- TAGLINE -->
		
			<div class="left-content">
				<h1>List your books</h1>
	    	</div>

			<!-- BUTTON -->

	    	<div class="right-content">
				<div class="button">
					<div class="top">Find your matches<%= image_tag 'arrow.png' %></div>
				</div>
			</div>
		
			<div class="clear"></div>
		</div>
	</div>
</div>

<div id="lists" class="main-content">
	<div class="page">
	
		<div id="buying" class="section fl">
			<div class="add">+</div>
			<h1>Buying</h1>
			<div class="list">
				<div class="entry">
					<%= image_tag 'pending.png' %>
					<h2>Introduction to Algorithms, 5th edition</h2>
					<div class="price">Up to $45.00,</div>
					<div class="condition">in good condition</div>
				</div>
				<div class="entry">
					<%= image_tag 'pending.png' %>
					<h2>Introduction to Algorithms, 5th edition</h2>
					<div class="price">Up to $38.00,</div>
					<div class="condition">new</div>
				</div>
				<div class="entry">
					<%= image_tag 'matched.png' %>
					<h2>Introduction to Algorithms, 5th edition</h2>
					<div class="price">Up to $45.00,</div>
					<div class="condition">in good condition</div>
				</div>
				<div class="entry">
					<%= image_tag 'pending.png' %>
					<h2>Introduction to Algorithms, 5th edition</h2>
					<div class="price">Up to $38.00,</div>
					<div class="condition">new</div>
				</div>
				<div class="entry">
					<%= image_tag 'cancelled.png' %>
					<h2>Introduction to Algorithms, 5th edition</h2>
					<div class="price">Up to $45.00,</div>
					<div class="condition">in good condition</div>
				</div>
			</div>
		</div>
	
		<div id="selling" class="section fr">
			<div class="add">+</div>
			<h1>Selling</h1>
			<div class="list">
				<div class="entry">
					<%= image_tag 'pending.png' %>
					<h2>Introduction to Algorithms, 5th edition</h2>
					<div class="condition">Good condition, </div>
					<div class="price">looking for $45.00</div>
				</div>
				<div class="entry">
					<%= image_tag 'pending.png' %>
					<h2>Introduction to Algorithms, 5th edition</h2>
					<div class="price">Up to $38.00,</div>
					<div class="condition">new</div>
				</div>
				<div class="entry">
					<%= image_tag 'pending.png' %>
					<h2>Introduction to Algorithms, 5th edition</h2>
					<div class="price">Up to $45.00,</div>
					<div class="condition">in good condition</div>
				</div>
			</div>
		</div>
	
		<div class="clear"></div>
	</div>
</div>