<!-- ABOUT -->

<div class="header">
	<div id="about">
		<div class="page">
		
			<!-- TAGLINE -->
		
			<div class="left-content">
	    		<h1>The textbook dilemma. Solved.</h1>
	    		<p>Don't lose money to Chegg, Amazon, or Half.com when buyers and sellers live down the street. Use Skoole to list, match, and meet.</p>
	    	</div>

			<!-- BUTTON -->
			
			<div class="right-content">
				<div class="button">
					
					<% if @current_user %>
					<div class="top">List your books<%= image_tag 'arrow.png' %></div>
					<div class="bottom">Welcome back, <%= @current_user.first_name %></div>					
					
					<% else %>
					<div class="top">Get started!<!--<%= image_tag 'arrow.png' %>--></div>
					<div class="bottom">
						<a href="/auth/facebook" class="popup" data-width=640 data-height=400 data-method="get" data-remote="true">
							<div id="connect-with-facebook"><%= image_tag 'fb.png' %></div>
						</a>
					</div>
					<% end %>
					
				</div>
			</div>
		
			<div class="clear"></div>
		</div>
	</div>
</div>

<!-- CONTENT -->
	
<div id="content">
	<div class="page">
		
		<% if @current_user %>
		<%= render "network" %>
		<% else %>
		<%= render "tour" %>
		<% end %>

	</div>
</div>
