<!DOCTYPE html>
<html>
<head>
	<title>Skoole</title>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "#{params[:controller]}" %>
	<%= stylesheet_link_tag "#{params[:controller]}_#{params[:action]}" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "#{params[:controller]}" %>
	<%= javascript_include_tag "#{params[:controller]}_#{params[:action]}" %>
	<%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller]}-#{params[:action]}" %>">


<div id="fb-root"></div>
<% if @current_user.nil? %>
<script>
  function fbLoginStatus(response) {
     if(response.session) {
        //user is logged in, display profile div
     } else {
        //user is not logged in, display guest div
     }
  }
  window.fbAsyncInit = function() {
    FB.init({appId: '184512731633300', status: true, cookie: true, xfbml: true});
    FB.getLoginStatus(loggedin);
    FB.Event.subscribe('auth.statusChange', fbLoginStatus);
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<% end %>


<div id="wrapper">

<!-- NAVIGATION -->

<div class="header">
	<div id="nav">
		<div class="page">
			<h1>Skoole <span class="subtitle"></span></h1>
			<div class="tabs">
				<a class="nav-item" href="/matches"><div class="user-show">Match</div></a>
				<a class="nav-item" href="<%= listings_path %>"><div class="listings-index">List</div></a>
				<a class="nav-item" href="/"><div class="site-welcome">Join</div></a>
			</div>
		</div>
	</div>
</div>

<!-- PAGE -->
	
<div id="main">
<%= yield %>
</div>

</div>

<!-- FOOTER -->

<div id="footer">
	<div class="page">
		Ryan Gomba, Doug Black, Nick McNutt
	</div>
</div>

</body>
</html>
