<!DOCTYPE html>
<html>
<head>
	<title>Skoole</title>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

<!-- LOGIN -->

<div id="fb-root"></div>

<!-- NAVIGATION -->

<div class="header">
	<div id="nav">
		<div class="page">
			<a href="/"  data-method="get" data-remote="true"><h1>Skoole <span class="subtitle"></span></h1></a>
			<div id="tabs">
				<%= render 'tabs' %>
			</div>
		</div>
	</div>
</div>

<!-- PAGE -->
	
<div id="main">
<%= yield %>
</div>

<!-- END WRAPPER -->

</div>

<!-- FOOTER -->

<div id="footer">
	<div class="page">
		Ryan Gomba, Doug Black, Nick McNutt
	</div>
</div>

</body>
</html>
