<!DOCTYPE html>
<html>
<head>
	<title>Skoolebooks</title>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "#{params[:controller]}" %>
	<!--<%= stylesheet_link_tag "#{params[:controller]}_#{params[:action]}" %>-->
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "#{params[:controller]}" %>
	<!--<%= javascript_include_tag "#{params[:controller]}_#{params[:action]}" %>-->
	<%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller]}-#{params[:action]}" %>">
<div id="wrapper">

<!-- LOGIN -->

<div id="fb-root"></div>
<% if @current_user.nil? %>
	<script>
	var f_id = null
	window.fbAsyncInit = function() {
		FB.init({appId: '184512731633300', status: true, cookie: true, xfbml: true});
		FB.getLoginStatus(loggedin);
		FB.Event.subscribe('auth.statusChange', loggedin);
	};
	(function() {
		var e = document.createElement('script'); e.async = true;
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);
	}());
	function loggedin(response) {
		if (response['session'] != null)
			f_id = response['session']['uid']
	}
	</script>
<% end %>

<!-- NAVIGATION -->

<div class="header">
	<div id="nav">
		<div class="page">
			<h1>Skoolebooks <span class="subtitle"></span></h1>
			<div class="tabs">
				<a class="nav-item" href="<%= matches_link %>"><div class="users-show">Match</div></a>
				<a class="nav-item" href="<%= listings_link %>"><div class="listings-index">List</div></a>
				<a class="nav-item" href="/"><div class="site-welcome">Join</div></a>
			</div>
		</div>
	</div>
</div>

<!-- PAGE -->
	
<div id="main">
<%= yield %>
</div>

<!-- END WRAPPER -->

</div>

<!-- FOOTER -->

<div id="footer">
	<div class="page">
		Ryan Gomba, Doug Black, Nick McNutt
	</div>
</div>

</body>
</html>
