<!DOCTYPE html>
<html>
<head>
	<title>Skoole</title>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "#{params[:controller]}" %>
	<%= stylesheet_link_tag "#{params[:controller]}_#{params[:action]}" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "#{params[:controller]}" %>
	<%= javascript_include_tag "#{params[:controller]}_#{params[:action]}" %>
	<%= csrf_meta_tags %>
</head>
<body id="<%= params[:action] %>">
	
<div id="fb-root"></div>
<script>
  function fbLoginStatus(response) {
     if(response.session) {
        //user is logged in, display profile div
     } else {
        //user is not logged in, display guest div
     }
  }
  window.fbAsyncInit = function() {
    FB.init({appId: '288275221194002', status: true, cookie: true, xfbml: true});
    FB.getLoginStatus(loggedin);
    FB.Event.subscribe('auth.statusChange', fbLoginStatus);
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

<!-- LOGIN -->

<div id="facebook" class="overlay"><div id="facebook-form" class="lightbox">
<iframe id="login_form" src="https://www.facebook.com/plugins/registration.php?
            client_id=288275221194002&
            redirect_uri=<%= "http://buzzruns.com/auth/facebook" %>&
            fields=[
                {'name': 'name'},
                {'name': 'email'},
                {'name': 'phone', 'description': 'Phone Number', 'type':'text'}]"
        scrolling="auto"
        frameborder="no"
        style="border:none"
        allowTransparency="true"
        width="400"
        height="100%">
</iframe>
</div></div>

<!-- ACCOUNT -->

<% if current_user %>
<div id="account-wrapper">
<div class="page">
<div id="account-box">
	
	<%= form_for current_user, :url => '/user/update', :remote => true do |f| %>
		<p><%= f.check_box :sms_enabled %><%= f.label :sms_enabled, "Notify via SMS" %></p>
		<p><%= f.check_box :email_enabled %><%= f.label :email_enabled, "Notify via E-mail" %></p>
		<% f.submit 'Submit' %>
	<% end %>
	
	<div class="button">
		<a href="<%= signout_path %>"><div class="top">Log out of Skoole<%= image_tag 'arrow.png' %></div></a>
	</div>
	
</div>
</div>
</div>
<% end %>

<div id="wrapper">

<!-- NAVIGATION -->

<div class="header">
	<div id="nav">
		<div class="page">
			<h1>Skoole <span class="subtitle"></span></h1>
			<div class="tabs">
				<% if current_user %>
				<a class="nav-item nit"><div class="account">Account</div></a>
				<% end %>
				<a class="nav-item" href="/lists"><div class="lists">Your Lists</div></a>
				<a class="nav-item" href="/"><div class="index">Welcome</div></a>
			</div>
		</div>
	</div>
</div>

<!-- PAGE -->
	
<div id="main">
<%= yield %>
</div>

</div>

<!-- FOOTER -->

<div id="footer">
	<div class="page">
		Ryan Gomba, Doug Black, Nick McNutt
	</div>
</div>

</body>
</html>
